{{#if updateQuestionForm}}
  <h4>Update {{question.author}}'s question</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="author">User Name</label>
          {{input value=author id="author" placeholder=question.author}}
        </div>

        <div class="form-group">
            <label for="content">Question</label>
          {{input class="long" value=content id="content" placeholder=question.content}}
        </div>

        <div class="form-group">
            <label for="notes">Question Details</label>
          {{textarea class="form-control" rows="3" value=notes id="notes" placeholder=question.notes}}
        </div>

        <button class="btn btn-info btn-xs"{{action 'update' question}}>Update</button>
        <button class="btn btn-warning btn-xs"{{action 'formHide'}}>Hide Form</button>
      </form>
    </div>
{{else}}
  <button class="btn btn-info btn-xs"{{action 'updateQuestionForm'}}>Update</button>
{{/if}}
