<h2>Hailing from {{model.city}}, {{model.author}}'s  question: {{model.content}}</h2>

{{question-detail question=model update="update" destroyQuestion="destroyQuestion"}}

{{new-answer question=model saveAnswer='saveAnswer'}}
