<h2>More information about {{model.author}} from {{model.city}}'s question: {{model.content}}</h2>

{{question-detail question=model update="update" destroyQuestion="destroyQuestion"}}

{{new-answer question=model saveAnswer='saveAnswer'}}
